html {
    background-color: #dbdbdb;
    font-family: Verdana;
}

#upperHead {
    background-color: white;
    height: 100px;
    border: 1px solid black;
}

#menu {
    border: 1px solid black;
    flex-wrap: nowrap;
    display: inline-flex;
    justify-content: space-around;
    width: 99.8%;
    height: 50px;
    background-color: white;
}

#emptyContainer {
    width: 50%;
}

.menuButton {
    font-family: Verdana;
    border: 1px solid black;
    color: black;
    display: table;
    height: 100%;
    cursor: pointer;
    background-color: #eeeeee;
    justify-content: space-around;
    width: 12%;
}

#footer {
    background-color: white;
    border: 1px solid black;
    height: 100px;
    width: 98.8%;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: row-reverse;
}

#contactInfo {
    background-color: white;
    border: 1px solid black;
    width: 20%;
    height: 100%;
}

.content {
    background-color: white;
    margin-top: 1%;
    margin-bottom: 15%;
    border: 1px solid black;
}

.register {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.itemContainer {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.article-item {
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 3%;
    border: 1px solid black;
    width: 400px;
    height: 275px;
}

.article-image {
    height: 180px;
    border: 1px solid black;
}

.categorie {
    margin-left: 5%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.catSelect {
    height: 50px;
    width: 150px;
}

a {
    color: black;
    text-decoration: none;
}

.cartFormInput {
    margin-bottom: 5px;
}

#cartItems {
    border: 1px solid black;
    max-width: 100%;
    margin-bottom: 20px;
}

.product-image {
    width: 400px;
    height: 400px;
    border: 1px solid black;

}

.product-item {
    display: flex;
    flex-direction: row;
}

.product-price {
    display: flex;
    border: 1px solid black;
}

.onderhoud {
    display: flex;
    flex-direction: row-reverse;
    float: right;
}

.product-form {
    margin-top: 50px;
}

.artikelKarWrap {
    height: 100px;
    border: 1px solid black;
    max-width: 100%;
    margin-left: 20px;
    margin-right: 20px;
    display: flex;
    flex-direction: row;
}

.productAfbeelding {
    width: 100px;
    height: 100%;
    margin-right: 30px;
    border: 1px solid black;
}

.contentcart {
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 0 auto;
    max-height: 100%;
}

#homefoto {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 50%;
}

.tab {
    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.prullenbak {
    display: flex;
    align-items: center;
}

.info {
    width: 100px;
}

#hometext {
    text-align: center;
    width: 70%;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;
}

#copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
}

.contactText {
    width: 70%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

#button1 {
    width: 170px;
    text-align: center;
    float: left;
    height: 40px;
    background: none;
    margin-left: 20px;
    margin-top: 20px;
    border: 1px solid black;
}

#button2 {
    width: 170px;
    float: right;
    text-align: center;
    height: 40px;
    background: none;
    margin-right: 20px;
    margin-top: 20px;
    border: 1px solid black;
}

.medewerkerNavigatie {
    height: 40%;
}
